<main class="text-center">
    <div class="fs-2">
        <%= md(t("index.header")) %>
    </div>

    <div id="carouselExampleControls" class="carousel slide col-xs-8 col-xl-10" style="margin: auto" data-bs-ride="carousel">
        <div class="carousel-inner" style="width:100%; height: 700px !important;">

            <div class="carousel-item active">
                <img src="https://static01.nyt.com/images/2020/12/02/books/review/GraphicContent_TopTen2020-05/GraphicContent_TopTen2020-05-popup.jpg?quality=75&auto=webp&disable=upscale" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://static01.nyt.com/images/2020/12/02/books/review/GraphicContent_TopTen2020-04/GraphicContent_TopTen2020-04-popup.jpg?quality=75&auto=webp&disable=upscale" class="d-block w-100" alt="graphic novel cover">
            </div>

            <div class="carousel-item">
                <img src="https://images.squarespace-cdn.com/content/v1/593f201de3df288fc6465e6f/1593699016164-0LVAKAZST12E8ZUDBNQY/ke17ZwdGBToddI8pDm48kPDqMyfOnMDQofxB7CSP971Zw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpx4TD6RbJPtbg69H5ibU_MaLBDOIrJuJxMOT6N08R1kOEjAoXFbB7O7ivgaJgjjhMw/Barking+Lucy+Sullivan.jpg?format=500w"
                    class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://images.squarespace-cdn.com/content/v1/593f201de3df288fc6465e6f/1593699106450-FJT0VGNJMA5NNWF3DXJ9/ke17ZwdGBToddI8pDm48kEWSA8sXSHxqqKD5pi-8CkBZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpz3YSSiOwkMuomZlXjexN4INDUK1a1RR3Cl0C2nqMD-LrY-wapfj_vVaa1CT7E8iic/Bowie+Graphic+Novel.jpg?format=500w"
                    class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://images.squarespace-cdn.com/content/v1/593f201de3df288fc6465e6f/1593699254708-JDFIYC91ZWSKQ3PAUHIU/ke17ZwdGBToddI8pDm48kE7UIpWie6G5j7VDCtWv01h7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmFrKkuyfqIWRdt3lCufLMAYXYb4J0OIjjBjpqZj-9st9I0EtwgRV6g0oHt1MzNWDj/Cankor.jpg?format=500w"
                    class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://images.squarespace-cdn.com/content/v1/593f201de3df288fc6465e6f/1593699389035-WVD4FW9ISOVUG3R72LSS/ke17ZwdGBToddI8pDm48kC405XiixJhxrOcBoaLxKQN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmMCg6RGY8TrcVSOIk4QoDPmgK5-tAq-fWL6im-3Ez854bD4vi8WvHkDX6buscck5G/Dragon+Hoops.jpg?format=500w"
                    class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://images.squarespace-cdn.com/content/v1/593f201de3df288fc6465e6f/1593699516260-C0HKWH4CNIN5TRITME6Z/ke17ZwdGBToddI8pDm48kGVLZkwb4Prcr5NY_7VDYPJ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmbA40xHUQunj0vJznaJavl7gW3WHynzYq4FehyMuma_MWWmXpjNkSiGdWOoH8z3Bc/Fire+Power+Graphic+Novel.jpg?format=500w"
                    class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://images.squarespace-cdn.com/content/v1/593f201de3df288fc6465e6f/1593699672569-ALMT73GNEBTL7039PFY7/ke17ZwdGBToddI8pDm48kEWSA8sXSHxqqKD5pi-8CkBZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpz3YSSiOwkMuomZlXjexN4INDUK1a1RR3Cl0C2nqMD-LrY-wapfj_vVaa1CT7E8iic/The+Golden+Age+Review.jpeg?format=500w"
                    class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://images.squarespace-cdn.com/content/v1/593f201de3df288fc6465e6f/1593700027098-QXZE0LSTGUE9P6C6LEGE/ke17ZwdGBToddI8pDm48kJsLXY4FbLeuQ-LnHami-ixZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVF_8AM8XoCKt5mS8M09U65CICh2Sl_5SWsGOXR7tVIT4xap9n8_sbTlwABRe1r0z88/Old+Head.jpg?format=500w"
                    class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://images.squarespace-cdn.com/content/v1/593f201de3df288fc6465e6f/1593700134628-CL4GZVKGYXHKMWKVZ3BU/ke17ZwdGBToddI8pDm48kGcB9VA-Gi3yBGFDWH2hSrB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmDJyaVitQ06bkWUY0OMxkmIykzxzNloXlFoisDjV2PnviDQbmV4nOgkmGQl7l_NS9/Paul+Is+Dead.jpg?format=500w"
                    class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://images.squarespace-cdn.com/content/v1/593f201de3df288fc6465e6f/1593700343652-4QG4J2Z7E40GUJ0SHLA0/ke17ZwdGBToddI8pDm48kLixo6F9yUUnyEZVZC4oOvlZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpzPEF49_tTK0sHtNzRoAbYwxDwDUaujfImySS-2__TY9wLhWrsNQDBWuvcjhSCwCz8/The+Rough+Pearl.jpeg?format=500w"
                    class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://images.squarespace-cdn.com/content/v1/593f201de3df288fc6465e6f/1593700465625-F7JT7FEU6SV6Y6S9ZORZ/ke17ZwdGBToddI8pDm48kM19s-1lI5KMA51iwjx2F2BZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpy0pMcvWc71ITt3Uc7iUE-VmNP1K2_WSMnIAT0tyORIrA7ZVQiwVKXyUVm5YOhmKKE/Year+of+the+Rabbit.jpeg?format=500w"
                    class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://images.squarespace-cdn.com/content/v1/593f201de3df288fc6465e6f/1604156384718-VAQAFHM65DQEWIVDOASI/ke17ZwdGBToddI8pDm48kMh3mVmBaCAeGwqCLG3iONRZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PITeQtWPcxF65ANawkK25DREOmFck9peR6QL8AnpRiPJE/pattern-color.png?format=750w"
                    class="d-block w-100" alt="graphic novel cover">
            </div>

            <div class="carousel-item">
                <img src="https://static01.nyt.com/images/2020/12/02/books/review/GraphicContent_TopTen2020/GraphicContent_TopTen2020-popup.jpg?quality=75&auto=webp&disable=upscale" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://static01.nyt.com/images/2020/12/02/books/review/GraphicContent_TopTen2020-03/GraphicContent_TopTen2020-03-popup.jpg?quality=75&auto=webp&disable=upscale" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://static01.nyt.com/images/2020/12/02/books/review/GraphicContent_TopTen2020-09/GraphicContent_TopTen2020-09-articleLarge.jpg?quality=75&auto=webp&disable=upscale" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://static01.nyt.com/images/2020/12/02/books/review/GraphicContent_TopTen2020-06/GraphicContent_TopTen2020-06-popup.jpg?quality=75&auto=webp&disable=upscale" class="d-block w-100" alt="graphic novel cover">
            </div>

            <div class="carousel-item">
                <img src="https://static01.nyt.com/images/2020/12/02/books/review/GraphicContent_TopTen2020-02/GraphicContent_TopTen2020-02-articleLarge.jpg?quality=75&auto=webp&disable=upscale" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://static01.nyt.com/images/2020/12/02/books/review/GraphicContent_TopTen2020-05/GraphicContent_TopTen2020-05-popup.jpg?quality=75&auto=webp&disable=upscale" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://static01.nyt.com/images/2020/12/02/books/review/GraphicContent_TopTen2020-08/GraphicContent_TopTen2020-08-articleLarge.jpg?quality=75&auto=webp&disable=upscale" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://static01.nyt.com/images/2020/12/02/books/review/GraphicContent_TopTen2020-10/GraphicContent_TopTen2020-10-popup.jpg?quality=75&auto=webp&disable=upscale" class="d-block w-100" alt="graphic novel cover">
            </div>

            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1537541596l/40864790.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1564967250l/43307358._SY475_.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1534048425l/40766383.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1541125895l/42527866.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1537722936l/39296114.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1528738829l/38452813._SY475_.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1536423241l/38524301.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1547213152l/21801668.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1565183719l/44774415._SY475_.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1541605615l/38812893._SY475_.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1531208565l/39073378.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1561136420l/39073387.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1539096588l/40864841.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1534098775l/36700347.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1556185721l/41391399.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1539399890l/41812788.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1559570414l/45899240.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1529625610l/40538764._SY475_.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1559486555l/42835876.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1554395255l/42667807._SY475_.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1587842273l/44779280._SY475_.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1585286731l/50898148._SX318_.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1564836659l/50159129._SX318_SY475_.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1585676692l/52854406.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1594616346l/54110137.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1575333390l/52713814._SX318_SY475_.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1561505630l/44280825.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1559433257l/46127757.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1598838206l/50490087.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1599400191l/50892014.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1571889853l/50010932._SX318_SY475_.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1561399798l/45449811.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1561046811l/45169737.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1565705354l/52024847._SX318_SY475_.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1600742631l/52637764.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1582467829l/51601851.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1598836612l/51116307.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1570968617l/52757853._SX318_SY475_.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1585146457l/46223323.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1595816705l/50285848.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4176/9788417617202.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4176/9788417617295.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4161/9788416167739.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4161/9788416167524.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4176/9788417617318.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4161/9788416167784.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4176/9788417617158.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4176/9788417617073.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4161/9788416167104.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4941/9788494143977.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4176/9788417617011.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4176/9788417617219.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4176/9788417617141.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4161/9788416167487.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4161/9788416167265.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4176/9788417617585.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4161/9788416167050.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4939/9788493977269.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4161/9788416167579.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4161/9788416167654.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4161/9788416167180.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4161/9788416167869.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4176/9788417617165.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4161/9788416167128.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4161/9788416167449.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4161/9788416167234.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4161/9788416167708.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4941/9788494143908.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4176/9788417617554.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>
            <div class="carousel-item">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9788/4936/9788493608170.jpg" class="d-block w-100" alt="graphic novel cover">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <p class="fs-2"><%= t("index.header_sub") %></p>

    <a href="./subscribe.html" class="btn btn-warning btn-xl mt-3"><%= t("subscribe_button") %></a>


    <header class="mt-5">
        <%= image_tag "logo.png", alt: "Books Brook", width: "100px", class: "img-fluid"%>
        <h1 class="ms-2 highlighted">Books Brook - <%= t("country") %></h1>
    </header>

    <p class="fs-5"><%= t("index.service_description") %>
    </p>

    <section class="pt-5">
        <h2 class="highlighted"><%= t("index.how_it_works") %></h2>

        <h4 class="highlighted"><%= t("index.steps.1_header") %></h4>
        <%= image_tag "how_to_01.png", class: "img-fluid", alt: "how to 01", width: "400px" %>
        <p class="fs-5 "><%= t("index.steps.1_text") %></p>

        <h4 class="highlighted"><%= t("index.steps.2_header") %></h4>
        <%= image_tag "how_to_02.png", class: "img-fluid", alt: "how to 02", width: "400px" %>
        <p class="fs-5 "><%= t("index.steps.2_text") %></p>

        <h4 class="highlighted"><%= t("index.steps.3_header") %></h4>
        <%= image_tag "how_to_03.png", class: "img-fluid", alt: "how to 03", width: "400px" %>
        <p class="fs-5 "><%= t("index.steps.3_text") %></p>
    </section>

    <a href="./subscribe.html" class="btn btn-warning btn-xl mt-3"><%= t("subscribe_button") %></a>
</main>
